<!DOCTYPE html>
<html lang="en">

<head>
    <title>Results Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="width: 100%">
    <header>
        <h2 align="center">Results Table</h2>
        <table class="table" style="width:100%" border="1">
            <thead class="thead-dark">
                <tr align="center">
                    <th>Vendor</th>
                    <th>TruePositive</th>
                    <th>TrueNegative</th>
                    <th>FalsePositive</th>
                    <th>FalseNegative</th>
                    <th>Precision</th>
                    <th>Recall</th>
                    <th>F1-Score</th>
                </tr>
            </thead>
            <tbody>
                {% for each in image_results%}
                <tr align="center">
                    <td>{{each}}</td>
                    <td>{{image_results[each]['#TruePositive']}}</td>
                    <td>{{image_results[each]['#TrueNegative']}}</td>
                    <td>{{image_results[each]['#FalsePositive']}}</td>
                    <td>{{image_results[each]['#FalseNegative']}}</td>
                    <td>{{"%.2f" %image_results[each]['Precision']}}%</td>
                    <td>{{"%.2f" %image_results[each]['Recall']}}%</td>
                    <td>{{"%.2f" %image_results[each]['F1-Score']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </header>
    <div class="container">
        <h2 align="center">Records</h2>
        <table class="table table-hover" style="width:100%" height="950px">
            {% for i in image_records%}
            <tbody>
                <tr>
                    <td width="50%" align="center">
                        <h3>ID: {{i.split(' -')[0]}}</h3>
                        <a href="images/{{i.split(' -')[0]}}.JPG">
                            <img src="images/{{i.split(' -')[0]}}.JPG" alt="{{i}}" width="150px" height="150px"></a>
                        <h5>{{i.split(' -')[1]}}</h5>
                    </td>
                    <td width="50%">
                        {% for j in image_records[i]%}
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#{{i.split(' -')[0]}}{{j}}">
                                        <b>{{j}}:</b>
                                        <span class="badge badge-pill badge-primary">{{image_records[i][j][1]}}</span>
                                    </a>
                                </div>
                                <div id="{{i.split(' -')[0]}}{{j}}" class="collapse">
                                    <div class="card-body">
                                        <b>Tag(s): </b>{% for each in image_records[i][j][0]%}{{each}}{% if not loop.last %}, {% endif %}{% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}{% endfor %}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>